<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <title>Literally Just Coffee and Water</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet"/>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{{ '/' }}">LJCW</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ '/' }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ '/about' }}">About</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-outline-dark snipcart-checkout" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill snipcart-items-count">0</span>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Literally Just Coffee and Water</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Stay awake with ours coffee</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        {{ content | safe }}
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; LJCW 2022</p>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
    </body>
    <script>
        window.SnipcartSettings = {
            publicApiKey: "MjcxMGUwYWYtNjA0Ny00NzdhLWJmZGMtZTc1MDIyZGJiY2RiNjM3OTUxODc4NTk1MDc4MjQ5", //TODO Your Own Snipcart API key
            loadStrategy: "on-user-interaction",
            currency: "thb"
        };

        (function () {
            var c,
                d;
            (d = (c = window.SnipcartSettings).version) != null || (c.version = "3.0");
            var s,
                S;
            (S = (s = window.SnipcartSettings).currency) != null || (s.currency = "usd");
            var l,
                p;
            (p = (l = window.SnipcartSettings).timeoutDuration) != null || (l.timeoutDuration = 2750);
            var w,
                u;
            (u = (w = window.SnipcartSettings).domain) != null || (w.domain = "cdn.snipcart.com");
            var m,
                g;
            (g = (m = window.SnipcartSettings).protocol) != null || (m.protocol = "https");
            var f,
                v;
            (v = (f = window.SnipcartSettings).loadCSS) != null || (f.loadCSS = !0);
            var E = window
                    .SnipcartSettings
                    .version
                    .includes("v3.0.0-ci") || window.SnipcartSettings.version != "3.0" && window
                    .SnipcartSettings
                    .version
                    .localeCompare("3.4.0", void 0, {
                        numeric: !0,
                        sensitivity: "base"
                    }) === -1,
                y = ["focus", "mouseover", "touchmove", "scroll", "keydown"];
            window.LoadSnipcart = o;
            document.readyState === "loading"
                ? document.addEventListener("DOMContentLoaded", r)
                : r();
            function r() {
                window.SnipcartSettings.loadStrategy
                    ? window.SnipcartSettings.loadStrategy === "on-user-interaction" && (y.forEach(function (t) {
                        return document.addEventListener(t, o)
                    }), setTimeout(o, window.SnipcartSettings.timeoutDuration))
                    : o()
            }
            var a = !1;
            function o() {
                if (a) 
                    return;
                a = !0;
                let t = document.getElementsByTagName("head")[0],
                    n = document.querySelector("#snipcart"),
                    i = document.querySelector('src[src^="'.concat(window.SnipcartSettings.protocol, "://").concat(window.SnipcartSettings.domain, '"][src$="snipcart.js"]')),
                    e = document.querySelector('link[href^="'.concat(window.SnipcartSettings.protocol, "://").concat(window.SnipcartSettings.domain, '"][href$="snipcart.css"]'));
                n || (n = document.createElement("div"), n.id = "snipcart", n.setAttribute("hidden", "true"), document.body.appendChild(n)),
                $(n),
                i || (i = document.createElement("script"), i.src = "".concat(window.SnipcartSettings.protocol, "://").concat(window.SnipcartSettings.domain, "/themes/v").concat(window.SnipcartSettings.version, "/default/snipcart.js"), i.async = !0, t.appendChild(i)),
                !e && window.SnipcartSettings.loadCSS && (e = document.createElement("link"), e.rel = "stylesheet", e.type = "text/css", e.href = "".concat(window.SnipcartSettings.protocol, "://").concat(window.SnipcartSettings.domain, "/themes/v").concat(window.SnipcartSettings.version, "/default/snipcart.css"), t.prepend(e)),
                y.forEach(function (h) {
                    return document.removeEventListener(h, o)
                })
            }
            function $(t) {
                !E || (t.dataset.apiKey = window.SnipcartSettings.publicApiKey, window.SnipcartSettings.addProductBehavior && (t.dataset.configAddProductBehavior = window.SnipcartSettings.addProductBehavior), window.SnipcartSettings.modalStyle && (t.dataset.configModalStyle = window.SnipcartSettings.modalStyle), window.SnipcartSettings.currency && (t.dataset.currency = window.SnipcartSettings.currency), window.SnipcartSettings.templatesUrl && (t.dataset.templatesUrl = window.SnipcartSettings.templatesUrl))
            }
        })();
    </script>
</html>