---
layout: layouts/base.njk
---
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/img/11ty.svg" alt="11ty" width="50px">
    <h1 class="display-5 fw-bold">Made with 11ty</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">This site is a mock-up of E-commerce website build by using 11ty as a static site generator (ssg) and use Snipcart to handle the payment</p>
    </div>
</div>

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/img/Bootstrap_logo.svg.png" alt="bootstrap" width="50px">
    <h1 class="display-5 fw-bold">Stylized with Bootstrap</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Template and CSS styling is utilized using Bootstrap 5 for ease of development</p>
    </div>
</div>

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Have a Question?</h1>
    <div class="col-md-10 mx-auto col-lg-5">
    <form class="p-4 p-md-5 border rounded-3 bg-light" action="https://formspree.io/f/xqkjpwoy" method="POST">
        <div class="my-3">
            <input class="form-control" type="email" name="email" placeholder="Your E-mail">
        </div>
        <div class="my-3">
            <textarea class="form-control" name="message" placeholder="Message"></textarea>
        </div>
    <!-- your other form fields go here -->
    <button class="w-100 btn btn-lg btn-primary" type="submit">Send</button>
    </form>
    </div>
</div>